<ion-header>
    <ion-toolbar>
        <ion-title>Les musiques</ion-title>
        <script src="https://kit.fontawesome.com/68a55af12e.js" crossorigin="anonymous"></script>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let track of tracks ; let i = index" (click)="playAudio( i )">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <!--            src de l'image dans /src/app/player/player.page.scss-->
                    <div class="image_musique"></div>
                </ion-col>
                <ion-col size="8">
                    <div>
                        <ion-card-header>
                            <ion-card-subtitle>{{track.author}}</ion-card-subtitle>
                            <ion-card-title>{{track.src}}</ion-card-title>
                        </ion-card-header>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>



    <div style="padding-bottom: 100px"></div>

    <div class="fond_player" style=""></div>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="previousTrack()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-fab-button>
</ion-fab>


<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="pauseAudio()" *ngIf="isPlaying()">
        <ion-icon name="ios-pause"></ion-icon>
    </ion-fab-button>

    <ion-fab-button (click)="playAudio()" *ngIf="!isPlaying()">
        <ion-icon name="ios-play"></ion-icon>
    </ion-fab-button>
</ion-fab>


<ion-label  *ngIf="isPlaying()" color="dark" class="ion-text-md-center ion-padding-top" style="text-align: center">{{currentAuthor}} - {{currentTrackName}}</ion-label>
<ion-item>
    <ion-range #range min="0" max="100" [(ngModel)]="mediaTimer" (touchend)="seekTime()" (click)="seekTime()" color="dark" style="margin-bottom: 75px"></ion-range>
</ion-item>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nextTrack()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-fab-button>
</ion-fab>


    <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home/">
            <ion-icon name="musical-notes"></ion-icon>
            <ion-label>Musiques</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home/capture">
            <ion-icon name="add"></ion-icon>
            <ion-label>Ajouter</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home/compte">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Mon Compte</ion-label>
        </ion-tab-button>

    </ion-tab-bar>


