<ion-header>
  <ion-toolbar>
    <ion-row>
    <div>
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="home"></ion-back-button>
      </ion-buttons>
    </div>
      <ion-title>Mon Compte</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image_musique"></div>
  <div class="form">
    <!-- pseudo -->
    <ion-text>Votre pseudo</ion-text>
    <ion-input value="pseudo"></ion-input>

    <hr>

    <!-- mdp -->
    <ion-text>Votre mot de passe</ion-text>
    <ion-input value="Mot de passe" type="password"></ion-input>
  </div>
  <ion-button expand="block" color="ducknote" (click)="login()">
    Modifier mon profil
  </ion-button>


</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/home/">
    <ion-icon name="musical-notes"></ion-icon>
    <ion-label>Musiques</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/home/capture">
    <ion-icon name="add"></ion-icon>
    <ion-label>Ajouter</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/home/compte">
    <ion-icon name="contact"></ion-icon>
    <ion-label>Mon Compte</ion-label>
  </ion-tab-button>

</ion-tab-bar>
