<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<!--<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>-->



<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <h1>OKOK</h1>
  <p style="color: red !important;">
    <i class="fas fa-arrow-left"></i>
  </p>
<!--  <ion-menu-toggle auto-hide="false">-->
<!--    <ion-button style="background-color: red" expand="block" color="ducknote" (click)="logout()">-->
<!--      Se déconnecter-->
<!--    </ion-button>-->
<!--  </ion-menu-toggle>-->
</ion-app>
